#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=multi-executable
Name=Multi Executable
Exec=/usr/bin/multi-executable
